<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{{ config.site_name }}{% if page.title %} - {{ page.title }} - {% endif %}</title>
		<style class="background">
			:root {
				--background: white;
			}
		</style>
		<style class="color">
			:root {
				--color: black;
			}
		</style>
		<link rel="shortcut icon" href="{{ "images/bonbon1.svg"|url }}">
		<link rel="stylesheet" href="{{ "css/theme.css"|url }}">
		{% for path in config.extra_css %}
			<link href="{{ path|url }}" rel="stylesheet">
		{% endfor %}
	</head>
	<body class="mix-{{config.mix}}">
		<div id="random" style="text-align: center; width:50; font-size: 80px; line-height: 1em"></div>
		<ul id="text-hidden">
			{% for text in config.texts %}
				<li> {{ text }} </li>
			{% endfor %}
		</ul>
		<nav id='titleSite'>
			<a href=""><h1 id="title" data-random="{{config.site_name_random}}">{{ config.site_name }}</h1></a>
			<h1 id="subtitle">{{ config.site_subtitle }}</h1>
		</nav>
		<div id="about_button">À propos</div>

		{% block content %}

		{% endblock %}

		{% include 'about.html' %}

		{% include 'tools.html' %}

	</body>
		{% for path in config.extra_javascript %}
			<script src="{{ path|url }}"></script>
		{% endfor %}
</html>
