{% extends "base.html" %}

	{% block content %}
	<div class="main-fonts">
		{% for item in nav %}
			{% if item.is_section and item.title == 'Fonts' %}
				{% for i in range(1) %}

				{% for fontFolder in item.children %}
					{% if fontFolder.is_section %}
						{% for font in fontFolder.children|sort(attribute='meta.weight') %}
							{% if font.meta.public == True %}
								{% include 'font.html' %}
							{% endif %}
						{% endfor %}
					{% endif %}
				{% endfor %}
				{% endfor %}
			{% endif %}
		{% endfor %}

	</div>
	<ul class="main-fonts-bonbon">
		{% for items in nav %}
			{% if items.title == 'fonts-bonbon' %}
				{% for bonbon  in items.meta.fonts_bonbon %}
				<li class="bonbon inactive" id="bonbon_{{loop.index}}">
					<a href="{{ bonbon.replace('docs', '') }}">
					</a>
				</li>
				{% endfor %}
			{% endif %}

		{% endfor %}
	</ul>

	{% endblock %}


